@import "../variables/fonts";
@import "../mixins/mixins";

#feedback {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    // z-index: 20;
    width: 100%;
    height: 100%;
    background: url(../img/orange.png) no-repeat;
    background-size: contain;
    // transform: rotate(360deg);
    top: -15%;
    pointer-events: none;
  }
  .feedback-content {
    display: grid;
    justify-items: center;
    // align-items: flex-end;
    // position: absolute;
    // z-index: 30;
    color: $N-10;
    padding: 15% 0 8%;

    & > * {
      grid-row-gap: 0;
      margin: 5px;
    }
    h3 {
      @include setFont(900, 24px);
      text-transform: uppercase;
    }
    p {
      @include setFont(400, 18px);
    }
    h4 {
      @include setFont(900, 18px);
      text-transform: uppercase;
      color: $Y-10;
    }
  }
}

//Footer

#footer {
  background: $N-50;
  padding: 5% 7%;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  color: $N-10;
  @include setFont(900, 14px);
}

.contact-details {
  @include setFont(400, 14px);
  margin-top: 20px;

  ul {
    list-style-type: none;
    line-height: 20px;
  }
}

.address {
  display: grid;
  grid-template-columns: auto auto;
}
