@mixin searchModal {
  .srchModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $N-50;
  }

  .modal-content {
    position: relative;
    margin: auto;
    width: 100%;
  }
  .modal-navbar {
    padding: 2% 7%;
    background: $N-50;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    .nav-search {
      position: absolute;
      align-self: center;
      justify-self: end;
    }
  }

  .close {
    position: absolute;
    color: $N-10;
    top: 67%;
    right: 12%;
    font-size: 28px;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
  .search-form {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="text"] {
      padding: 10px;
      @include setFont(400, 14px);
      border-radius: 4px 0px 0px 4px;
      width: 60%;
      background: $N-10;
      border: none;
    }
    button {
      position: relative;
      width: 15%;
      padding: 10px 40px;
      background: $O-50;
      color: $N-10;
      @include setFont(400, 14px);
      border-radius: 0px 4px 4px 0px;
      border: none;
      cursor: pointer;
      img {
        position: absolute;
        left: 10%;
        top: 25%;
      }
    }
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}
