@import "mixins";
@mixin userModal {
  .userModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 70%;
  }
  .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 3%;

    .picture {
      justify-self: start;
      align-self: center;
      img {
        width: 100%;
      }
    }
  }
  .description {
    padding-left: 10%;
    h1 {
      @include setFont(900, 24px);
    }
    p {
      @include setFont(400, 14px);
      padding: 4% 0;
      line-height: 1.5rem;
    }
  }
  .follow {
    color: $B-50;
    @include setFont(700, 14px);
    i {
      padding-right: 5%;
    }
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
