#courses {
  .course-detail {
    display: grid;
    padding-left: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    // justify-items: end;

    h1 {
      @include setFont(900, 48px);
      color: $Y-50;
      padding-bottom: 3%;
    }
    .grad-button {
      margin-top: 20px;
      padding: 16px 32px;
      @include setFont(700, 14px);
      cursor: pointer;
      border-radius: 26px;
      color: $N-10;
      background: $O-50;
      border: none;
      text-decoration: none;
    }
    p {
      color: $N-10;
      @include setFont(400, 18px);
      padding-top: 3%;
    }

    .list {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 3%;
      // padding-top: 6%;

      & > div {
        margin-bottom: 12%;
        @include course-image-transition;
        p {
          font-weight: 700;
          padding-top: 0px;
        }
      }
    }
  }
}
