.al-detail {
  display: grid;
  padding-left: 10%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 0.9fr 1.6fr 2.3fr;
  // justify-items: end;

  h1 {
    @include setFont(900, 48px);
    color: $Y-50;
    padding-bottom: 3%;
  }
  p {
    color: $N-10;
    @include setFont(400, 18px);
    line-height: 2.25rem;
  }
}
.names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // margin-top: 3%;
}
.al-videos {
  display: grid;
  grid-template-rows: 1fr 1fr;
  h4 {
    @include setFont(700, 24px);
    color: $N-10;
    // margin-top: 2%;
    padding-top: 20px;
  }
  & > div {
    padding: 3% 0 5%;
  }
}
.image-container {
  position: relative;
  .image {
    opacity: 0.6;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    width: 100%;
    height: auto;
  }
  .middle {
    transition: 0.5s ease;
    opacity: 0.8;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &:hover .image {
    opacity: 0.4;
  }

  &:hover .middle {
    opacity: 1;
  }
}
