@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins/mixins";
@import "../mixins/searchModal";

// Navbar
#nav-wrapper {
  padding: 2% 7%;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 2;
  position: absolute;
  width: 100%;
  pointer-events:fill;

  .nav-search {
    align-self: center;
    justify-self: end;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    @include searchModal;
  }
}

// Intro section
#header {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.intro-details {
  background: $N-50;
  display: grid;
  position: relative;
  background: url("../img/home-logo1.svg") black no-repeat;
  background-position: 100% 50%;
  align-items: end;
  // justify-content: end;

  // img {
  //   justify-self: center;
  //   align-self: center;
  //   margin-left: 25%;
  // }
  .info {
    margin-left: 35%;
    margin-right: 13%;
    margin-bottom: 12%;
    color: $N-10;

    h1 {
      @include setFont(900, 65px);
      text-transform: uppercase;
      line-height: 1em;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../img/ellipse.svg) no-repeat;
        // background-size: contain;
        left: -40%;
        top: 30%;
      }
    }

    h2 {
      @include setFont(900, 47px);
      text-transform: uppercase;
      line-height: 0.8em;
    }

    p {
      @include setFont(400, 14px);
      padding: 6% 0;
    }

    h4 {
      @include setFont(900, 18px);
      text-transform: uppercase;
      color: $O-50;
    }
    a {
      @include setFont(700, 14px);
      color: $O-50;
    }
    .reimagining_E {
      display: inline-block;
      position: relative;
      // right: 5px;
      // left: 2px;
      top: -0.2em;
      width: 25px;
      height: 12px;
      background: $O-50;
      margin: 1%;

      &::before {
        content: "";
        top: -16.5px;
        position: absolute;
        width: 28px;
        height: 12px;
        background: $O-50;
      }
      &::after {
        content: "";
        top: 17px;
        position: absolute;
        width: 28px;
        height: 12px;
        background: $O-50;
      }
    }

    .communities_E {
      display: inline-block;
      position: relative;
      // right: 5px;
      // left: 2px;
      top: -0.15em;
      width: 19px;
      height: 9px;
      background: $O-50;
      margin: 1%;

      &::before {
        content: "";
        top: -13px;
        position: absolute;
        width: 22px;
        height: 9px;
        background: $O-50;
      }
      &::after {
        content: "";
        top: 13px;
        position: absolute;
        width: 22px;
        height: 9px;
        background: $O-50;
      }
    }
  }
}
.intro-images {
  position: relative;
  .intro-image-responsive {
    visibility: hidden;
  }
  img {
    position: absolute;
    left: -16%;
    object-fit: fill;
    width: 116.1%;
    height: 102%;
    // width: auto;
  }
  // left: -8%;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // position: relative;
  // div {
  //   img {
  //     height: 100%;
  //     width: auto;
  //   }
  // }

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background-color: $Y-50;
  //   position: absolute;
  //   opacity: 0.8;
  // }
}

// Main section
#main {
  // height: 340vh;
  background: $Y-10;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/cream.svg) no-repeat;
    background-size: contain;
    pointer-events: none;
    top: -2.5%;
  }

  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background: url(../img/cream.svg) no-repeat;
  //   background-size: contain;
  //   transform: rotate(180deg);
  //   bottom: -3%;
  // }
  h3 {
    @include setFont(900, 24px);
    line-height: 28px;
  }
  p {
    @include setFont(400, 14px);
    margin: 8px 0px;
  }
  a {
    @include setFont(700, 14px);
    color: $O-50;
  }
}


.main-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding: 7% 10%;
  // position: absolute;
  // align-self: center;
  // justify-self: center;
  // margin-left: 2%;

  & > div {
    // border: 1px solid red;
    align-items: center;
    // justify-content: center;
  }

  & > div > div {
    justify-self: center;
    align-self: center;
    margin: 8px 0px;
  }
  .course-abm {
    grid-area: 1 / 1 / 4 / 8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .course-image {
      justify-self: start;
    }
  }

  .course-bse {
    grid-area: 1 / 9 / 7 / 13;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: left;
    .course-content {
      align-self: end;
      // justify-self: end;
    }
    .course-image {
      justify-self: start;
    }
  }

  .course-cmc {
    grid-area: 5 / 1 / 8 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .course-ps {
    grid-area: 8 / 1 / 15 / 5;
    display: grid;
    grid-template-rows: 2fr 3fr;
    .course-content {
      align-self: end;
      padding: 2%;
    }
    .course-image {
      align-self: start;
      justify-self: start;
    }
  }

  .course-cs {
    grid-area: 8 / 6 / 11 / 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .course-image {
      justify-self: end;
    }
  }

  .course-ecs {
    grid-area: 12 / 6 / 15 / 13;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .course-content {
      justify-self: end;
      padding-left: 9%;
    }
  }

  .course-al {
    grid-area: 15 / 1 / 18 / 9;
    display: grid;
    grid-template-columns: 5fr 9fr;
  }

  .course-tlc {
    grid-area: 16 / 9 / 21 / 13;
    display: grid;
    grid-template-rows: 2fr 3fr;
    .course-content {
      align-self: end;
    }
    .course-image {
      align-self: start;
    }
  }
}
// Feedback section
#feedback {
  background: $O-50;
  background: url("../img/Union.png") no-repeat $O-50;
  background-position: center bottom;
  position: static;
  // display: grid;
  // height: 60vh;
  // padding-top: 6%;

  //div {
  // background: $-50;
  // display: grid;
  // position: relative;
  // align-items: end;
    // justify-self: center;
    // position: relative;
    // display: grid;
    // img {
    //   position: absolute;
    //   bottom: 0%;
    //   align-self: center;
    //   justify-self: center;
    //   z-index: 2;
    // }
  //}
}

