@import 'pages/homepage';
@import 'sections/footer';
@import 'responsive/responsive-homepage';
@import 'pages/all-courses';
@import 'pages/course-detail';
@import 'pages/course-al';
@import 'mixins/mixins';
@import 'mixins/userModal';
@import 'mixins/gallaryModal';
@import 'pages/details';
@import 'responsive/responsive_details';
@import 'responsive/responsive_all-courses';
@import 'responsive/responsive_course-details';
@import 'responsive/responsive_course-al';
@import 'pages/graduates';
@import 'responsive/responsive_graduates';
@import 'mixins/searchModal';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $poppins;
    // overflow-x: hidden;
}
a {
    text-decoration: none;
}